@model WebAPI.Models.TransactionBse161001

@{
    ViewBag.Title = "Delete";
}
<style>
    body {
        background-color: lemonchiffon;
    }
</style>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
  
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
